services:
  redis:
    image: redis:latest
    ports:
      - "6379:6379"

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app  
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DEBUG=1
    depends_on:
      - redis

  # Celery Worker
  celery:
    build: .
    command: celery -A reservahotel worker --loglevel=info --pool=solo
    volumes:
      - .:/app  
    environment:
      - DEBUG=1
    env_file:
      - .env
    depends_on:
      - redis
      - web
  
  celery_beat:
    build: .
    command: celery -A reservahotel beat --loglevel=info
    volumes:
      - .:/app
    environment:
      - DEBUG=1
    depends_on:
      - redis
      - web